html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

.app {
  max-width: 700px;
  margin: auto;
}

.app-header {
  max-width: 700px;
  margin: auto;
  padding: 0px 6px
}

.text-container {
  margin: 0;
}

.app-title {
  margin: 5px auto 0px auto;
  font-size: 1.6em;
}

.subtitle {
  margin: 5px;
}

.selected {
  border: 3px solid red;
  color: red;
}

.kept {
  border: 3px solid red;
  color: red;
}

.table-label {
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
  background-color: rgba;
  background: rgb(33, 74, 112);
}

.table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "s s"
    "r k";
  grid-template-rows: 30px 1fr;
  background: rgb(53, 107, 158);
  color: white;
}

.scoreDisplay {
  grid-area: s;
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  padding: 3px 15px;
  background-color: white;
  color: rgb(59, 156, 42);
}

.rollDisplay {
  /* margin: auto; */
  box-sizing: border-box;
  padding: 0px 0px;
  margin: 0px 0;
  list-style: none;
  width: 100%;
  min-height: 400px;
  /* max-height: 470px; */
}

.keptDisplay {

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  list-style: none;
  width: 100%;
  min-height: 400px;

}

.display-container {}

.container1 {
  grid-area: r;

}

.container2 {
  grid-area: k;
}


.action-bar {
  transition: transform 1s 0.5s ease-out;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 40px;
  justify-content: space-between;
  margin: 0px;
  padding: 0px 0px;
  max-width: 100%;
  max-height: fit-content;
  font-size: 1em;
  font-weight: 500;
  color: rgb(29, 24, 24);
  background: rgb(182, 182, 182);
}

.options-container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
  justify-content: space-between;
  margin: 0 auto 10px auto;
  padding: 0px 20px;
  max-width: fit-content;
  font-size: 1em;
  font-weight: 500;
  color: rgb(29, 24, 24);
  opacity: 1;
  transition: 1s;
}

.options-container.disabled {
  opacity: 0.5;
}

.control-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.control-group label {
  margin-bottom: 3px;
  font-size: 0.9em;
}

#player-count-input {
  max-width: 50px;
}

.select-container button,
select {
  font-size: 1.1em;
  font-weight: 500;
}

.button-container {
  display: none;
}

.button-container.show {
  transition: transform 1s 0.5s ease-out;
  transform-style: preserve-3d;
  transform: scale(1.2);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 auto 4px auto;
  padding: 5px 20px;
  max-width: fit-content;
  max-height: 35px;
  font-size: 1.1em;
  font-weight: 500;
  color: rgb(29, 24, 24);
}

.button-container input {
  margin: 3px 5px 0px 5px;
  max-height: 25px;
}

.dieItem {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 7px 5px;
  max-width: 450px;
  font-size: 1.2em;
  font-weight: 500;
  color: rgb(29, 24, 24);
}

.dieItem:first-child {
  box-sizing: border-box;

}

.dieItem:last-child {
  box-sizing: border-box;

}



.itemLabel {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 80px;
}

.label-div {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.dieLabel {
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  margin: 10px 10px;
}

.dieValue {
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0px 6px;
  padding: 15px 25px;
  background: white;
  border: 3px solid rgba(148, 146, 146, 0.931);
  border-radius: 6px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.541);
  /* transition: transform 1s ease-out; */
  /* transform: scale(1.2); */
  /* transform-style: preserve-3d;
  transform: rotateX(720deg);
  animation-name: dice-animation;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: initial; */

}

.activeDie {
  transition: transform 1s ease-out;
  transform-style: preserve-3d;
  transform: rotateX(720deg);
  animation-name: dice-animation;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: initial;
}

.selected {
  border: 3px solid red;
  color: red;
  transition: 0.5s;
  transform: translateX(150px) scale(1.2);
}

.keptDie {
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 10px 15px;
  padding: 15px 25px;
  background: white;
  border: 3px solid rgba(88, 224, 70, 0.931);
  border-radius: 6px;
  box-shadow: 0 0 15px 1px rgba(56, 56, 56, 0.514);
  transform: scale(0.8);

  transition: transform 0.5s ease-out;
}

.dieValue:active {
  border: 3px solid rgb(224, 50, 27);
  transition: transform 1s ease-in;
  /* transform: scale(1.2); */
  transform-style: preserve-3d;
  transform: scale(1.5);
}

.die1Value {
  transition: transform 1s 0.0s ease-out;
  transform-style: preserve-3d;
  /* transform: rotateX(720deg); */
}

.die2Value {
  transition: transform 1s 0s ease-out;
  transform-style: preserve-3d;
  /* transform: rotateX(720deg); */
}

.die3Value {
  transition: transform 1s 0s ease-out;
  transform-style: preserve-3d;
  /* transform: rotateX(720deg); */
}

.die4Value {
  transition: transform 1s 0s ease-out;
  transform-style: preserve-3d;
  /* transform: rotateX(720deg); */
}

.die5Value {
  transition: transform 1s 0s ease-out;
  transform-style: preserve-3d;
  /* transform: rotateX(720deg); */

}





@keyframes dice-animation {
  0% {
    transform: rotateX(0deg);
  }

  /*
  30% {
    transform: rotateX(360deg);
  }

  60% {
    transform: rotateX(-180deg);
  }

  75% {
    transform: rotateX(0deg);
  } */

  100% {
    transform: rotateX(1440deg);
  }

}

.color-box {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: red;
  -webkit-animation-name: color-box-animation;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 15s;
  /* Safari 4.0 - 8.0 */
  animation-name: color-box-animation;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes color-box-animation {
  from {
    background-color: red;
  }

  to {
    background-color: yellow;
  }
}

/* Standard syntax */
@keyframes color-box-animation {
  0% {
    background-color: red;
    left: 0px;
    height: 100px;
    width: 100px;
    top: 150px
  }

  15% {
    background-color: rgb(255, 255, 255);
    left: 250px;
    height: 40px;
    width: 300px;
    top: 0px
  }

  25% {
    background-color: rgb(231, 81, 199);
    left: 900px;
    height: 400px;
    width: 500px;
    top: 0px
  }

  50% {
    background-color: rgb(248, 248, 245);
    left: 0px;
    height: 250px;
    width: 400px;
    top: 100px
  }

  65% {
    background-color: rgb(104, 22, 70);
    left: 1200px;
    height: 1px;
    width: 1px;
    top: 0px
  }

  70% {
    background-color: rgb(0, 255, 0);
    left: 200px;
    height: 1000px;
    width: 1000px;
    top: -100x
  }

  80% {
    background-color: rgb(249, 253, 249);
    left: 200px;
    height: 1000px;
    width: 1000px;
    top: -100x
  }

  100% {
    background-color: rgb(35, 90, 190);
    left: 600px;
    height: 100px;
    width: 100px;
    top: 0px
  }
}