.header {
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 50px;
	padding: 5px 10px;
	color: white;
}

.menu-button {
	position: absolute;
	top: 0;
	right: 0;
	width: fit-content;
	height: fit-content;
	color: #FFFFFF;
	font-size: 1em;
	font-weight: 600;
	margin: auto 0;
	padding: 10px;
	user-select: none;
	z-index: 4;
}

.header-title {
	padding: 15px;
	font-size: 1.5em;
}

.nav {
	position: fixed;
	display: flex;
	flex-direction: column;
	width: 0px;
	height: 100%;
	background: #4C4C5850;
	color: #FFFFFF00;
	border-right: 1px solid #FFFFFF78;
	overflow-x: hidden;
	transition: width 0.3s ease, color 1s;
	backdrop-filter: blur(2.5px);
	z-index: 4;
	user-select: none;
}

.navExpand {
	width: 300px;
	color: white;
	box-shadow: 3px 0px 10px #60606070;
	transition: width 0.3s ease, color 1s;
}

.nav-head {
	display: flex;
	justify-content: flex-end;
	height: 40px;
	width: 100%;
}

.close-nav {
	font-size: 1.5em;
	font-weight: 700;
	padding: 10px 5px;
	margin-right: 10px;
}

.close-nav:active {
	text-shadow: 0 0 10 #000;
	color: #2E2E2E;
}

.nav-link {
	justify-self: flex-start;
	width: 100%;
	padding: 10px 20px;
	margin-bottom: 5px;
	margin-right: 100%;
	text-align: left;
	font-size: 1.5em;
	font-weight: 500;
	text-wrap: none;
	text-decoration: none;
	color: white;
	transition: 0.1s ease;
	-webkit-tap-highlight-color: transparent;
}

.nav-link:hover {
	background: #BBBBBF50;
	justify-self: flex-end;
	margin-right: 0px;
	transition: 0.2s ease;
}

.card {
	width: 95%;
	margin: 15px 10px;
	padding: 5px;
	box-shadow: 0 2px 10px #60606070;
}