@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600;700&display=swap');

* {
	touch-action: manipulation;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}

.app {
	display: grid;
	grid-template-rows: 50px 150px 1fr 60px;
	margin: 0 auto;
	height: 100%;
	min-height: 100vh;
	box-shadow: 0px 0px 150px 0px inset #965236B8;
	overflow: hidden;
	opacity: 1;
	transition: 0.5s ease;
	user-select: none;
	z-index: -2;
}

.app.hide {
	opacity: 0;
}

.footer-container {
	/* position: sticky; */
	padding: 0;
	margin: 0;
	bottom: 0px;
	left: 0;
	z-index: 0;
}

.footer {
	display: grid;
	grid-template-columns: repeat(2, minmax(max-content, 2fr));
	grid-column-gap: 10px;
	justify-content: space-between;
	justify-content: center;
	height: 100%;
	padding: 5px 20px;
	margin: 0;
	background: #7D7D7DA3;
	box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.341);
	transition: 0.5s;
	border-top: 2px solid #DADADA70;
}

.footer-button {
	height: 40px;
	min-width: 100px;
	padding: 0px 8px;
	background: #FFFFFFD4;
	color: #4C4D5A;
	font-weight: 700;
	font-size: 1.2em;
	border-radius: 8px;
	border: 1px solid #737694;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
	opacity: 1;
}

.footer-button:active {
	transform: scale(1.1);
	background: #FFFFFF;
}

.nextPlayerButton {}

.footer.hide {
	height: 0px;
	padding: 0;
	margin: 0;
	overflow: hidden;
	border: 0px solid #737694;
	opacity: 0;
}

.footer-button.hide {
	height: 0px;
	padding: 0;
	margin: 0;
	overflow: hidden;
	border: 0px solid #737694;
	opacity: 0;
}

.app-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 15px 15px 15px;
	color: #ececec;
	letter-spacing: 2px;
	opacity: 0.9;
}

.app-title {
	height: fit-content;
	margin: 0;
	color: #DEDEDE;
	font-size: 1.3em;
	font-weight: 300;
	opacity: 0.9;
}

.subtitle {
	display: grid;
	/* grid-template-columns: 1fr 1fr; */
	grid-template-rows: auto;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	justify-content: space-evenly;
	max-width: 740px;
	margin: 10px 20px;
	padding: 5px 10px;
	font-size: 0.95em;
	font-weight: 300;
	color: white;
	text-align: center;
}

.player-grid-item {
	height: fit-content;
	padding: 5px;
	border-radius: 5px;
	background: #FDFDFDBF;
	font-size: 1.2em;
	font-weight: 500;
	color: #2C2C2CBF;
}

.player-grid-item:active {
	background: #FDFDFDEB;
}

.table-header {
	display: flex;
	justify-content: space-evenly;
	margin: 15px auto;
	/* margin-bottom: 15px; */
	width: 300px;
	padding: 5px 10px;
	text-align: center;
	font-size: 1.1em;
	font-weight: 600;
}

.table {
	touch-action: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"s s"
		"r r";
	grid-template-rows: 40px 1fr;
	color: white;
	overflow: hidden;
	height: 100%;
}

.scoreDisplay {
	grid-area: s;
	/* display: flex;
	justify-content: center; */
	padding: 10px 15px;
	text-align: center;
	font-size: 1.3em;
	font-weight: 600;
	color: white;
	transition: 0.2s;
}

.scoreDisplay.show {}

.rollDisplay {
	display: grid;
	justify-content: center;
	grid-template-areas:
		"die1 ."
		"die2 di3"
		"die4 die5";
	width: 100%;
	list-style: none;
	box-sizing: border-box;
}

.container1 {
	grid-area: r;
}

.dieItem:first-child {
	box-sizing: border-box;
}

.dieItem:last-child {
	box-sizing: border-box;
}

@keyframes dice-animation {
	0% {
		transform: rotateX(0deg);
	}

	50% {
		transform: rotateX(-1440deg);
	}

	100% {
		transform: rotateX(440deg);
	}
}

.color-box {
	position: relative;
	width: 100px;
	height: 100px;
	background: red;
	-webkit-animation-name: color-box-animation;
	/* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 15s;
	/* Safari 4.0 - 8.0 */
	animation-name: color-box-animation;
	animation-duration: 10s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes color-box-animation {
	from {
		background-color: red;
	}

	to {
		background-color: yellow;
	}
}

/* Standard syntax */
@keyframes color-box-animation {
	0% {
		background-color: red;
		left: 0px;
		height: 100px;
		width: 100px;
		top: 150px
	}

	15% {
		background-color: rgb(255, 255, 255);
		left: 250px;
		height: 40px;
		width: 300px;
		top: 0px
	}

	25% {
		background-color: rgb(231, 81, 199);
		left: 900px;
		height: 400px;
		width: 500px;
		top: 0px
	}

	50% {
		background-color: rgb(248, 248, 245);
		left: 0px;
		height: 250px;
		width: 400px;
		top: 100px
	}

	65% {
		background-color: rgb(104, 22, 70);
		left: 1200px;
		height: 1px;
		width: 1px;
		top: 0px
	}

	70% {
		background-color: rgb(0, 255, 0);
		left: 200px;
		height: 1000px;
		width: 1000px;
		top: -100px
	}

	80% {
		background-color: rgb(249, 253, 249);
		left: 200px;
		height: 1000px;
		width: 1000px;
		top: -100px
	}

	100% {
		background-color: rgb(35, 90, 190);
		left: 600px;
		height: 100px;
		width: 100px;
		top: 0px
	}
}
